* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    height: 100vh;
    display:grid;
    background-color: darkgrey;
    font-family: Georgia,serif;
}

.card{
    margin:40px;
}


.row{
    width:100%;
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
}

.card .image{ 
    overflow: hidden;
    margin:auto;
    background-color: mistyrose;
    position:relative;
    flex:1;
    max-width: 560px;
    height: 360px;
    margin:20px;
}



.image img{
    position:relative;
    opacity: 0.6;
    vertical-align: top;
    transition: 0.7s;
    transition-property: opacity;

}

.image:hover img{
   opacity:1;
}

.image .content{
    position: absolute;
    top:0px;
    z-index:1;
    right:0;
    height:100%;
    width:100%;
    color:oldlace;

}

.image .content h2 {
    text-align:center;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 240;
    margin-top: 40px;
}

.image .content h3{
    font-weight: 900;
    text-align:center;
}

.image .content p{
    font-size: 20px;
    margin: 30px 30px 0 30px;
    font-weight: 600;
    text-align:center;
    opacity: 0;
    transition:0.6s;
    transition-property:opacity, transform;
}

.image:hover .content h2 h3{
    transform:translateY(-40px);
}

image .content h3 span{
    font-weight: 900;
}
.image:hover .content p{
    opacity: 1;
    transform:translateY(-20px);
}


.buttom {
  position:absolute;
  background:white;
  display:flex;
  width:100%;
  opacity:0.5;
  justify-content: space-between;
  align-items: center;
  padding :15px;
  transition: 0.6s;
  transition-property: bottom;

}

.image:hover .buttom{
   bottom:0;
}

@media(max-width:1080px){
    .image{
    flex:100%;
    max-width:480px;
    }
}